@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

.top-bar {
    display: inline flex;
    align-items: left;
    justify-content: space-between;
    padding: 10px 25px;
    background: #2b2b9c;
    color: white;
    height: 80px;
}

.top-bar ul {
    list-style: none;
    display: flex;
    margin-left: 1200px;
    margin-top: -20px;
}

/* .top-bar span{
    margin-top: 10px;
} */
.top-bar .gmail {
    color: yellow;
    margin-bottom: -10px;
    margin-right: 15px;
    font-size: 20px;
    margin-left: 50px;
}

.top-bar .number {
    color: yellow;
    margin-bottom: -10px;
    margin-right: 10px;
    margin-left: 30px;
    font-size: 20px;
}

.top-bar button {
    width: 30px;
    height: 30px;
    margin: 5px;
    /* border-radius: 20%; */
    /* background-color: #3f3feb; */
}

.top-bar button facb {
    color: rgb(72, 72, 226);
    padding: 13px;
}

.top-bar .insta {}

.top-bar a:hover {
    color: #2222;
}

nav {
    background: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a {
    color: blue;
}

nav a:hover {
    color: #e2c107;
}

.menu div {
    color: yellow;
    text-align: center;
}

.logo a {
    display: flex;
    font-size: 20px;
    text-align: center;
}

.logo {
    flex: 1;
}

.logo img {
    width: 300px;
    height: auto;
    border: none;
    padding-left: 80px;
    padding-top: 30px;
    vertical-align: middle;
    display: inline-block;

}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    text-align: center;
    font-size: 25px;
}

.toggle {
    padding: 8px 8px 8px 8px;
    width: 45px;
    height: 45px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: rgb(223, 199, 199);
}

@media screen and (max-width: 600px) {
    nav {
        display: black;
        position: relative;
        padding: 15px 20px;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active,
    .toggle {
        display: black;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }
}